.w {
    width: 1200px;
    margin: 0 auto;   
}

.w header {
    height: 84px;
    border-bottom: 2px solid #c81523;
}

.regeisterarea {
    height: 522px;
    border: 1px solid #ccc;
    margin-top: 20px;
}

.regeisterarea h3 {
    height: 42px;
    border-bottom: 1px solid #ccc;
    background-color: #ececec;
    line-height: 42px;
    padding: 0 10px;
    font-size: 18px;
    font-weight: bold;
}

.login {
    float: right;
    font-size: 14px;
}

.reg_form {
    width: 600px;
    margin: 50px auto;
}

.reg_form ul li {
    margin-bottom: 15px;
    line-height: 37px;
}

.reg_form ul li label {
    display: inline-block;
    width: 88px;
    text-align: right;
    line-height: 37px;
    vertical-align: bottom;
}

.reg_form ul li input[type=text],input[type=password] {
    width: 242px;
    height: 37px;
    border: 1px solid #ccc;
    vertical-align: bottom;
}

.error {
    color: #c81523;
}

.reg_form ul li .iconfont {
    line-height: 37px;
    vertical-align: middle;
}

.success {
    color: green;
}

.reg_form ul .safe {
    margin-top: -15px;
    margin-left: 160px;
    margin-bottom: 10px;
}

.safe em {
    padding: 0 12px;
    margin-right: 5px;
    margin-bottom: 1px;
    color: #fff;
}

.safe em:first-child {
    background-color: red;
}

.safe em:nth-child(2) {
    background-color: green;
}

.safe em:last-child {
    background-color: orange;
}

.agree {
    padding-left: 95px;
}

.agree input {
    vertical-align: middle;
}

.agree a {
    color: #1ba1e6;
}

.reg_form ul li:last-child {
    text-align: center;
}

.reg_form ul li:last-child input{
    width: 200px;
    height: 34px;
    background-color: #c81523;

    color: #fff;
}